@font-face {
    font-family: 'CustomFont';
    src: url('/src/fonts/Roboto-Regular.ttf') format('truetype');
}

body {
    font-family: 'CustomFont', sans-serif;
}

input[type=text]:focus  {
    border: 1px solid #6EB648;
}

a {
    text-decoration:none;
}

[data-mantine-color-scheme=light] .m-6c018570[data-variant=default]  {

    --_input-bd-focus: #6EB648;
}
